:root {
    --bg-color: #f7f6f3;
    --bg-color-darker: #D0CAB2;
    --font-color: #69665f;
    --font-color-dark: #333332;
    --primary: #96C7C1;
    --primary-darker: #6f8f8b;
    --primary-dark: #425a5f;
    --lightest-grey: #f8f8ef;
    --lighter-grey: #e5e5e2;
    --grey: #cacac7;
    --darker-grey: #999990;
    --yellow: #F9F871;
    --green: #18793c;
    --red: #f84632;

    --yellow-gradient: linear-gradient(
        to bottom,
        #F9F871,
        #d4d467);
    --grey-gradient: linear-gradient(
        to bottom,
        #e5e5e2,
        #c4c4b7
    );
    --green-gradient: linear-gradient(
        to bottom,
        #18793c,
        #166d36
    );
    --red-gradient: linear-gradient(
        to bottom,
        #f84632,
        #db3f2e
    );
    --gradient-100: linear-gradient(
        to left, 
        #f84632, 
        #fe6f2a, 
        #ff9229, 
        #ffb234, 
        #ffd149, 
        #eade5c, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
    --gradient-90: linear-gradient(
        to left, 
        #fe6f2a, 
        #ff9229, 
        #ffb234, 
        #ffd149, 
        #eade5c, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
    --gradient-80: linear-gradient(
        to left, 
        #ff9229, 
        #ffb234, 
        #ffd149, 
        #eade5c, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-70: linear-gradient(
        to left, 
        #ffb234, 
        #ffd149, 
        #eade5c, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-60: linear-gradient(
        to left, 
        #ffd149, 
        #eade5c, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-50: linear-gradient(
        to left, 
        #eade5c, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-40: linear-gradient(
        to left, 
        #d7ea74, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-30: linear-gradient(
        to left, 
        #c5f38e, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-20: linear-gradient(
        to left, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-10: linear-gradient(
        to left, 
        #a8eba4, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
        --gradient-0: linear-gradient(
        to left, 
        #95e1b5, 
        #90d5bf, 
        #96c7c1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}

h2, h3 {
    margin-bottom: 1rem;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

nav a {
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--primary-dark);
}

nav a:hover {
    text-decoration: none;
}


nav ul {
    list-style: none;
}

.navlink {
    width: fit-content;
    background: none;
    border: none;
    font-size: 1.25rem;
    color: var(--primary-dark);
    padding: 1rem;
}

.navlink:hover {
    cursor: pointer;
}

.dropdown {
    background-color: var(--primary);
    position: absolute;
    right: 0;
    display: none;
}

.dropdown.active {
    display: block;
}

.main-container{
    padding: 0 7%;
    flex: 1;
}

.dashboard{
    display: flex;
}

.sidebar {
    width: 20%;
    min-width: 200px;
    padding: 1rem 0;
    line-height: 2;
}

.sidebar .btn {
    margin: .5rem auto;
}

.sidebar a {
    display: block;
}

.sidebar h3 {
    margin-bottom: 0;
}

.group-menu {
    display: flex;
    align-items: flex-start;
}

.toggle-book-links{
    background: none;
    color: var(--font-color);
    border: none;
    font-size: inherit;
    font-family: inherit;
}

.toggle-book-links:hover {
    cursor: pointer;
}

.sidebar .fas {
    margin-right: .5rem;
}

main {
    width: 80%;
    padding: 1rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--grey)
}

.post {
    line-height: 1.5;
}

.post h3 {
    margin-bottom: 0;
}

.post-author {
    margin-bottom: 1rem;
    font-weight: 300;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--primary-dark);
    border-color: var(--primary-darker);
    align-items: center;
    border-radius: 5px;
}

.btn-delete {
    background: none;
    border: none;
    color: inherit;
}

.btn-delete:hover{
    cursor: pointer;
}

.bookmark .fa-bookmark {
    margin-right: 1rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

.modal-main .users.users-1 {
    grid-template-columns: repeat(1, 1fr);    
}
.modal-main .users.users-2 {
    grid-template-columns: repeat(2, 1fr);    
}
.modal-main .users{
    grid-template-columns: repeat(3, 1fr);    
}

.users {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.user .btn {
    margin-top: .5rem;
    padding: 3px 5px;
}

.user img {
    margin: .5rem auto;
}


.get-started {
    line-height: 1.5;
}

.get-started p {
    margin-bottom: 1rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: fit-content;
    max-width: 50%;
    padding: 2rem 3rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .modal .modal-main h3{
      margin-bottom: 1rem;
  }

  .modal .modal-main h3.book-title {
      margin-bottom: 0;
  }

  .modal .modal-main .btn {
      margin: 1rem auto 0;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px outset var(--darker-grey);
    margin-top: 1rem;
    text-decoration: none;
    color: var(--font-color-dark);
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    display: block;
    width: fit-content;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, .1);
  }

  .btn:hover{
      cursor: pointer;
      background-image: none;
      text-decoration: none;
  }

  .btn-yellow {
      background-image: var(--yellow-gradient);
  }

  .btn-yellow:hover{
      background-color: var(--yellow);
  }

  .btn-grey {
      background-image: var(--grey-gradient);
  }

  .btn-grey:hover {
      background-color: var(--lighter-grey);
  }

  .btn-green {
      background-image: var(--green-gradient);
      color: #fff;
  }

  .btn-green:hover{
    background-color: var(--green);
  }

  .btn-red {
      background-image: var(--red-gradient);
      color: #fff;
  }

  .btn-red:hover{
      background-color: var(--red);
  }

  button.btn-close {
      position: absolute;
      color: var(--font-color);
      background: none;
      border: none;
      padding: 15px;
      top: 0;
      right: 0;
  }

  button.btn-close:hover{
      cursor: pointer;
  }

  .form-input{
      font-family: 'Open Sans', sans-serif;
      font-size: .8rem;
      display: block;
      padding: 5px 20px;
      margin: 1rem 0;
      border: 1px solid var(--grey);
  }

  .number-input{
      font-family: 'Open Sans', sans-serif;
      font-size: .8rem;
      padding: 5px;
      margin-bottom: 1rem;
      width: 4rem;
      border: 1px solid var(--grey);
  }

  .input-long {
      width: 100%;
  }

  .form-text-area{
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    display: block;
    padding: 5px 20px;
    height: 5rem;
    resize: none;
    border: 1px solid var(--grey);
  }

  .add-comment-form .form-text-area {
      margin: auto;
      margin-top: 1rem;
      width: 50%;
  }

  .add-comment-form .btn {
    margin: 1rem auto 0;
  }

  .add-post-form .btn {
      margin: 1rem auto 0;
  }

  .hidden {
      display: none;
  }

  .book {
      text-align: center;
      margin: auto;
  }

  .book-info{
      margin: 1rem 0;
  }

  .book-title {
      font-family: 'Bitter', serif;
      font-weight: 500;
      display: block;
  }

  a.book-title {
    margin-top: 1rem;      
}


  .book-subtitle {
    font-size: .8rem;
  }

  .book .btn {
      margin: auto;
  }

  .authors {
      font-weight: 300;
      font-size: .8rem;
  }

  .details-row{
      display: flex;
      margin: 1rem 0;
  }

  .cover-col, .details-col {
      font-size: .8rem;
      padding: 0 1rem;
  }

  .book-description {
      margin-bottom: 1rem;
  }

  .volume-info{
      font-weight: 500;
  }

  .book-card h2 {
      margin-bottom: 0;
  }

  .book-card .book-subtitle{
      font-size: 1.25rem;
  }

  .book-card .authors {
      font-size: 1rem;
  }

  .book-card .details-col{
      line-height: 1.5;
      font-size: 1rem;
  }

  .comments{
      border-top: 1px solid var(--grey);
      padding-left: 2rem;
      margin-top: 1rem;
  }

  .comment {
      border-bottom: 1px solid var(--grey);
      padding: .25rem 0;
  }

  .author-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .link-style-btn{
      background: none;
      border: none;
      font-size: inherit;
      font-family: inherit;
      color: var(--red);
  }

  .link-style-btn:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .status-history td{
    padding: 0 2rem;
  }

  .btn-group{
      display: flex;
      justify-content: center;
      margin: 2rem 0 1rem;
  }

  .btn-group .btn{
      margin: 0 1rem;
  }

  .progress-bar-container{
      display: flex;
      align-items: center;
  }

  .progress-bar-container .btn {
      margin: 0 1rem;
      min-width: fit-content;
      height: fit-content;
  }

  .progress-bar-100 {
      background-image: var(--gradient-100);
  }

  .progress-bar-90 {
      background-image: var(--gradient-90);
  }

  .progress-bar-80 {
      background-image: var(--gradient-80);
  }

  .progress-bar-70 {
      background-image: var(--gradient-70);
  }

  .progress-bar-60 {
      background-image: var(--gradient-60);
  }

  .progress-bar-50 {
      background-image: var(--gradient-50);
  }

  .progress-bar-40 {
      background-image: var(--gradient-40);
  }

  .progress-bar-30 {
      background-image: var(--gradient-30);
  }

  .progress-bar-20 {
      background-image: var(--gradient-20);
  }

  .progress-bar-10 {
      background-image: var(--gradient-10);
  }

  .progress-bar-0 {
      background-image: var(--gradient-0);
  }

  .auth-container {
      display: flex;
  }

  .auth-card {
      margin: auto;
      margin-top: 5rem;
      padding: 1rem 2.5rem 2.5rem;
  }

  .auth-card .btn {
      width: 100%;
  }

  .alert {
    position: fixed;
    width: 100%;
    padding: 0.7rem;
    opacity: 0.9;
    background-color: var(--lighter-grey);
    color: var(--font-color)
  }

  .alert-danger {
    background-color: var(--red);
    color: #fff;
  }

  .alert-success {
      background-color: var(--yellow);
      color: black;
  }

  .profile {
      border-radius: 100%;
      display: block;
  }

  .profile-lg {
      margin: auto;
      width: 300px;
  }

  .profile-sm {
      width: 40px;
  }

  .spinner {
      max-width: 200px;
      margin: auto;
      display: block;
  }

  footer {
    text-align: center;
    padding: 2rem;
  }

@media (max-width: 1400px){
    .books {
        grid-template-columns: repeat(3, 1fr);
    }
    .users {
        grid-template-columns: repeat(7, 1fr);
    }
    .modal-main{
        max-width: 60%;
    }
}

@media (max-width: 992px){
    .main-container{
        padding: 0 3%;
    }

    .books {
        grid-template-columns: repeat(2, 1fr);
    }
    .users {
        grid-template-columns: repeat(3, 1fr);
    }
    .modal-main{
        max-width: 80%;
    }
    .book-card .details-row{
        flex-wrap: wrap;
    }
    .book-card .cover-col{
        margin-bottom: 1rem;
    }
    .add-comment-form .form-text-area {
        width: 80%;
    }
}

@media (max-width: 576px){
    .main-container {
        padding: 0;
    }
    .dashboard{
        flex-direction: column-reverse;
    }

    .sidebar {
        width: 100%;
        padding: 0 1rem;
    }

    main {
        width: 100%;
        padding-bottom: 0;
    }

    .sidebar-card {
        background-color: #fff;
        padding: 1rem;
        border: 1px solid var(--grey)
    }

    .modal-main{
        max-width: 90%;
    }
    .details-row{
        flex-wrap: wrap;
    }
    .cover-col{
        margin-bottom: 1rem;
    }

}