:root {
    --bg-color: #f7f6f3;
    --font-color: #69665f;
    --font-color-dark: #333332;
    --primary: #96C7C1;
    --primary-darker: #6f8f8b;
    --primary-dark: #425a5f;
    --lightest-grey: #f8f8ef;
    --lighter-grey: #e5e5e2;
    --grey: #cacac7;
    --darker-grey: #999990;
    --yellow: #F9F871;
    --green: #18793c;
    --red: #f84632;

    --yellow-gradient: linear-gradient(
        to bottom,
        #F9F871,
        #d4d467);
    --grey-gradient: linear-gradient(
        to bottom,
        #e5e5e2,
        #c4c4b7
    );
    --green-gradient: linear-gradient(
        to bottom,
        #18793c,
        #166d36
    );
    --red-gradient: linear-gradient(
        to bottom,
        #f84632,
        #db3f2e
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}

h2, h3 {
    margin-bottom: 1rem;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

nav a {
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--primary-dark);
}

nav a:hover {
    text-decoration: none;
}

nav button {
    background: none;
    border: none;
    font-size: 1.25rem;
    color: var(--primary-dark);
    padding: 1rem 0;
    padding-right: .5rem;
}

nav button:hover {
    cursor: pointer;
}

nav .navlogo {
    padding-left: .5rem;
}

nav .navlink {
    padding-right: .5rem;
}

.main-container{
    padding: 0 7%;
    flex: 1;
}

.dashboard{
    display: flex;
}

.sidebar {
    width: 20%;
    min-width: 200px;
    padding: 1rem 0;
    line-height: 1.75;
}

.sidebar a {
    display: block;
}

.sidebar h3 {
    margin-bottom: 0;
}

main {
    width: 80%;
    padding: 1rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--grey)
}

.post {
    line-height: 1.5;
}

.post h3 {
    margin-bottom: 0;
}

.post-author {
    margin-bottom: 1rem;
    font-weight: 300;
}

.bookmark {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--primary-dark);
    border-color: var(--primary-darker);
    align-items: center;
    border-radius: 5px;
}

.btn-delete {
    background: none;
    border: none;
    color: inherit;
}

.btn-delete:hover{
    cursor: pointer;
}

.bookmark .fa-bookmark {
    margin-right: 1rem;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: fit-content;
    max-width: 50%;
    padding: 3rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .modal .modal-main h3{
      margin-bottom: 1rem;
  }

  .modal .modal-main h3.book-title {
      margin-bottom: 0;
  }

  .modal .modal-main .btn {
      margin: auto;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px outset var(--darker-grey);
    margin-top: 1rem;
    text-decoration: none;
    color: var(--font-color-dark);
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    display: block;
    width: fit-content;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, .1);
  }

  .btn:hover{
      cursor: pointer;
      background-image: none;
      text-decoration: none;
  }

  .btn-yellow {
      background-image: var(--yellow-gradient);
  }

  .btn-yellow:hover{
      background-color: var(--yellow);
  }

  .btn-grey {
      background-image: var(--grey-gradient);
  }

  .btn-grey:hover {
      background-color: var(--lighter-grey);
  }

  .btn-green {
      background-image: var(--green-gradient);
      color: #fff;
  }

  .btn-green:hover{
    background-color: var(--green);
  }

  .btn-red {
      background-image: var(--red-gradient);
      color: #fff;
  }

  .btn-red:hover{
      background-color: var(--red);
  }

  button.btn-close {
      position: absolute;
      color: var(--font-color);
      background: none;
      border: none;
      padding: 15px;
      top: 0;
      right: 0;
  }

  button.btn-close:hover{
      cursor: pointer;
  }

  .form-input{
      font-family: 'Open Sans', sans-serif;
      font-size: .8rem;
      display: block;
      padding: 5px 20px;
      box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, .1);
      margin: 1rem 0;
      border-radius: 5px;
  }

  .number-input{
      font-family: 'Open Sans', sans-serif;
      font-size: .8rem;
      padding: 5px;
      margin-bottom: 1rem;
      width: 4rem;
      box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, .1);
      border-radius: 5px;
  }

  .form-text-area{
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    display: block;
    padding: 5px 20px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, .1);
    height: 5rem;
    resize: none;
    border-radius: 5px;
  }

  .add-comment-form .form-text-area {
      margin: auto;
      margin-top: 1rem;
      width: 50%;
  }

  .add-comment-form .btn {
      margin: auto;
      margin-top: 1rem;
  }

  .hidden {
      display: none;
  }

  .book {
      text-align: center;
  }

  .book-info{
      margin: 1rem 0;
  }

  .book-title {
      font-family: 'Bitter', serif;
      font-weight: 500;
      display: block;
  }

  a.book-title {
    margin-top: 1rem;      
}


  .book-subtitle {
    font-size: .8rem;
  }

  .book .btn {
      margin: auto;
  }

  .authors {
      font-weight: 300;
      font-size: .8rem;
  }

  .details-row{
      display: flex;
      margin: 1rem 0;
  }

  .cover-col, .details-col {
      font-size: .8rem;
      padding: 0 1rem;
  }

  .book-description {
      margin-bottom: 1rem;
  }

  .volume-info{
      font-weight: 500;
  }

  .book-card h3 {
      margin-bottom: 0;
  }

  .book-card .authors {
      font-size: 1rem;
  }

  .book-card .details-col{
      line-height: 1.5;
      font-size: 1rem;
  }

  .comments{
      border-top: 1px solid var(--grey);
      padding-left: 2rem;
      margin-top: 1rem;
  }

  .comment {
      border-bottom: 1px solid var(--grey);
      padding: .25rem 0;
  }

  .author-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .link-style-btn{
      background: none;
      border: none;
      font-size: inherit;
      font-family: inherit;
      color: var(--red);
  }

  .link-style-btn:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .status-history td{
    padding: 0 2rem;
  }

  .btn-group{
      display: flex;
      justify-content: center;
  }

  .btn-group .btn{
      margin: 0 1rem;
  }

  .progress-bar-container{
      display: flex;
      align-items: center;
  }

  .progress-bar-container .btn {
      margin: 0 1rem;
      min-width: fit-content;
      height: fit-content;
  }

  .auth-container {
      display: flex;
  }

  .auth-card {
      margin: auto;
      margin-top: 5rem;
      padding: 1rem 2.5rem 2.5rem;
  }

  .auth-card .btn {
      width: 100%;
  }

  .alert {
    position: fixed;
    width: 100%;
    padding: 0.7rem;
    opacity: 0.9;
    background-color: var(--lighter-grey);
    color: var(--font-color)
  }

  .alert-danger {
    background-color: var(--red);
    color: #fff;
  }

  .alert-success {
      background-color: var(--green);
      color: #fff;
  }

  .spinner {
      max-width: 200px;
      margin: auto;
      display: block;
  }

  footer {
      text-align: center;
      padding: 2rem;
  }

@media (max-width: 1400px){
    .books {
        grid-template-columns: repeat(3, 1fr);
    }
    .modal-main{
        max-width: 60%;
    }
}

@media (max-width: 992px){
    .main-container{
        padding: 0 3%;
    }

    .books {
        grid-template-columns: repeat(2, 1fr);
    }
    .modal-main{
        max-width: 80%;
    }
    .book-card .details-row{
        flex-wrap: wrap;
    }
    .book-card .cover-col{
        margin-bottom: 1rem;
    }
    .add-comment-form .form-text-area {
        width: 80%;
    }
}

@media (max-width: 576px){
    .main-container {
        padding: 0;
    }
    .dashboard{
        flex-direction: column-reverse;
    }

    .sidebar {
        width: 100%;
        padding: 0 1rem;
    }

    main {
        width: 100%;
        padding-bottom: 0;
    }

    .sidebar-card {
        background-color: #fff;
        padding: 1rem;
        border: 1px solid var(--grey)
    }
    .modal-main{
        max-width: 90%;
    }
    .details-row{
        flex-wrap: wrap;
    }
    .cover-col{
        margin-bottom: 1rem;
    }

}